---
title: Troika
---
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- https://github.com/joshbuchea/HEAD -->

  <!-- Recommended -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Elements -->
  <meta charset="utf-8">

  <!-- Meta -->
  <meta name="description" content="{{ metadata.description }}">
  <meta name="generator" content="11ty">

  <!-- Icons -->
  <!-- https://favicon.io/ -->
  {# <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}">
  <link rel="manifest" href="{{ '/site.webmanifest' | url }}"> #}


  <title>{{ title or metadata.title }}</title>

  <link rel="stylesheet" href="https://use.typekit.net/oqd5hlz.css">
  <link rel="stylesheet" href="{{ '/main.css' | url }}">

  <script type="module" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js" defer></script>
</head>

<body 
  class="container box-border flex flex-col gap-10 mx-auto font-sans leading-normal tracking-normal text-gray-900"
  x-data="{ scrollPct: 0 }"
  x-on:scroll.window="scrollPct = window.scrollY / (document.body.clientHeight - window.innerHeight) * 100"
>
  {% include "partials/header.njk" %}
  <main class="flex-1">
    {{ content | safe }}
  </main>
  <footer>Troika</footer>
  <div class="fancy_bg" x-bind:style="`--scroll-factor: ${100 - scrollPct * 2}deg; --scroll-factor-px: ${100 - scrollPct * 2}px;`">
    <div class="bg_panel bg_panel_l bg_panel_1"></div>
    <div class="bg_panel bg_panel_l bg_panel_2"></div>
    <div class="bg_panel bg_panel_l bg_panel_3"></div>
    <div class="bg_panel bg_panel_l bg_panel_4"></div>
    <div class="bg_panel bg_panel_l bg_panel_5"></div>
    <div class="bg_panel bg_panel_l bg_panel_6"></div>

    <div class="bg_panel bg_panel_r bg_panel_1"></div>
    <div class="bg_panel bg_panel_r bg_panel_2"></div>
    <div class="bg_panel bg_panel_r bg_panel_3"></div>
    <div class="bg_panel bg_panel_r bg_panel_4"></div>
    <div class="bg_panel bg_panel_r bg_panel_5"></div>
    <div class="bg_panel bg_panel_r bg_panel_6"></div>
  </div>
</body>
</html>
{# 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    <link rel="stylesheet" href="{{ '/main.css' | url }}">
  </head>
  <body class="box-border min-h-screen font-sans leading-normal tracking-normal text-gray-900 bg-gray-100">
    <header class="sticky">
      <div clsss="text-3xl font-extrabold text-gray-900 tracking-tight mb-8">Troika</div>
      
    </header>
    <main class="container flex flex-col flex-wrap items-center px-6 pt-24 mx-auto md:pt-48 md:flex-row">
      <header class="flex flex-col justify-center w-full overflow-y-hidden xl:w-2/5 lg:items-start">
        <h1 class="my-4 text-3xl font-bold leading-tight text-center text-blue-500 md:text-5xl md:text-left">{{ metadata.title }}</h1>
        <p class="mb-8 text-base leading-normal text-center md:text-2xl md:text-left">{{ metadata.description }}</p>    
      </header>
    {{ content | safe }}
    </main>
  </body>
</html> #}