{% extends "base.html" %}

{% block extrahead %}
  <link rel="icon" type="image/svg+xml" href="{{config.site_url ~ 'assets/images/troika-favicon.svg'}}">
  <link rel="alternate icon" href="{{config.site_url ~ 'assets/images/troika-favicon.png'}}">
  <link rel="mask-icon" href="{{config.site_url ~ 'assets/images/safari-pinned-tab.svg'}}" color="#00FFFF">
{% endblock %}

{% block hero %}
  <section class="mdx-container">
    <div class="md-grid md-typeset"> 
      <div class="mdx-hero">
        <div class="mdx-hero__content"> 
          <h1>Hero block</h1> 
          <p>lorem.</p> 
          <a href="getting-started/" title="Getting Started" class="md-button md-button--primary"> Getting Started </a> 
          <a href="insiders/" title="Changelog" class="md-button"> foos </a> 
        </div>
      </div>
    </div>
  </section>
{% endblock %}